<launch>
    <!-- Launch Gazebo with an empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
    </include>

    <!-- Spawn the camera URDF in Gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model camera" output="screen"/>
    
    <!-- Load the robot description -->
    <param name="robot_description" command="$(find xacro)/xacro $(find yolo_camera_pkg)/urdf/camera_only.urdf.xacro" />
</launch>
